:root {
    --color-primary: #000a03;
    --color-secondary: #d0c5b4;
    --color-tertiary: #6a948a;
    --color-accent: #292426;
    --accent-2: #541611;
    --accent-3: #fffef6;
    --accent-main: #88c903;
    --accent-4: #17243e;
    --accent-5: #c2c9d0;
    --accent-6: #00accc;
    --text-size-body: 16px;
    --text-size-heading: 20px;
    --text-size-button: 16px;
    --text-size-sub-heading: 14px;
    --letter-spacing-body: calc(1.5*var(--text-size-body));
    --letter-spacing-heading: calc(1.3*var(--text-size-heading))
    --letter-spacing-sub-heading: calc(1.5*var(--text-size-sub-heading))
}
@font-face {
    font-family: Poppins;
    src: url(../assets/Poppins/Poppins-Regular.ttf);
}
@font-face {
    font-family: Poppins-Light;
    src: url(../assets/Poppins/Poppins-Light.ttf);
}
@font-face {
    font-family: Montserrat;
    src: url(../assets/Montserrat/Montserrat-VariableFont_wght.ttf);
}
@font-face {
    font-family: Raleway;
    src: url(../assets/Raleway/Raleway-VariableFont_wght.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
}
body {
    width: 100%;
    height: 100%;
    display: grid;
    gap: 5rem;
    place-items: center;
    background: #292426;
}
header {
    margin-top: 10px;
}
.contact-section {
    width: 80%;
    display: grid;
    grid-template-columns: 1.5fr 2.5fr;
    gap: 3rem;
    align-items: center;
}
.contact-section > .row:nth-child(1) {
    width: 100%;
    display: grid;
    height: fit-content;
    gap: 2rem;
}
.contact-container {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    gap: var(--gap, 2rem);
}
.contact-container > span {
    font-size: 20px;
    -webkit-text-stroke: 1px var(--accent-6);
    color: transparent;
}
.contact-details > h2 {
    font-size: 1.3rem;
    font-family: Montserrat;
    font-weight: 570;
    color: var(--accent-3);
}
.contact-details > p {
    font-size: 14px;
    font-family: Poppins;
    font-weight: 500;
    color: var(--color-secondary);
}
.contact-details > h5 {
    font-size: 15px;
    font-family: Raleway;
    font-family: 550;
    margin-top: 10px;
    color: var(--accent-6);
}
/* second row(form) */
.contact-section > .row:nth-child(2) {
    width: 100%;
    /* border: 1px solid black; */
    border-radius: 10px;
    padding: 3rem;
    background: #333;
}
.row:nth-child(2) > form {
    width: 100%;
    display: grid;
}
form > h2 {
    font-size: 4vh;
    font-family: Raleway;
    font-weight: 600;
    color: var(--accent-6);
}
form > p {
    font-size: 17px;
    font-weight: 500;
    font-family: Montserrat;
    margin-top: 15px;
    color: var(--accent-5);
}
form > .form {
    margin-top: 2rem;
    display: grid;
    gap: 2rem;
}
.form > .input-field {
    position: relative;
}
.input-field > input[type="text"], .input-field > input[type="email"] {
    padding: 1rem 0;
    outline: none;
    border: none;
    font-size: 15px;
    font-family: Poppins;
    font-weight: 500;
    color: var(--accent-3);
    background-color: transparent;
}
.form > .input-field::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    color: var(--accent-6);
    background: var(--accent-6);
    width: 100%;
    height: 1px;
    border-radius: 30px;
}
.input-field > textarea {
    width: 100%;
    border: none;
    outline: none;
    position: relative;
    font-size: 15px;
    font-family: Poppins;
    font-weight: 500;
    color: var(--accent-3);
    background-color: transparent;
}
.form > textarea::before {
    content: '';
    width: 100%;
    height: 1px;
    color: black;
    background: black;
    position: absolute;
    left: 0;
    bottom: 0;
}
.form > input[type="submit"] {
    padding: 10px 1rem;
    border: none;
    background: var(--accent-6);
    color: white;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    margin-top: 2rem;
    font-family: Montserrat;
}

@media (max-width: 600px) {
    header {
        margin-top: 0;
    }
    .contact-section {
        width: 90%;
        grid-template-columns: 1fr;
    }
    .contact-details > h2 {
        font-size: 1.1rem;
        font-weight: 550;
    }
    .contact-container > span {
        font-size: 17px;
    }
    .contact-details > p {
        font-size: 14px;
        font-family: Poppins;
        font-weight: 500;
        color: var(--color-secondary);
    }
    .contact-details > h5 > a{
        font-size: 15px;
        text-decoration: none;
        font-family: Raleway;
        font-family: 550;
        margin-top: 10px;
        color: var(--accent-6);
    }
    /* second row(form) */
    .contact-section > .row:nth-child(2) {
        padding: 1rem;
        background: transparent;
    }
    form > h2 {
        font-size: 1.5rem;
    }
    form > p {
        font-size: 16px;
    }
    .input-field > input {
        font-size: 14px;
    }
    .input-field > textarea {
        height: 150px;
    }
    .form > input[type="submit"] {
        margin-top: 10px;
    }
}
@media (min-width: 600px) and (max-width: 798px) {
    header {
        margin-top: 0;
    }
    .contact-section {
        width: 85%;
        grid-template-columns: 1fr;
    }
    .contact-details > h2 {
        font-size: 1.3rem;
        font-weight: 550;
    }
    .contact-container > span {
        font-size: 18px;
    }
    .contact-details > p {
        font-size: 15px;
        font-family: Poppins;
        font-weight: 500;
        color: var(--color-secondary);
    }
    .contact-details > h5 > a{
        font-size: 16px;
        text-decoration: none;
        font-family: Raleway;
        font-family: 550;
        margin-top: 10px;
        color: var(--accent-6);
    }
    /* second row(form) */
    .contact-section > .row:nth-child(2) {
        padding: 1rem;
        background: transparent;
    }
    form > h2 {
        font-size: 1.8rem;
    }
    form > p {
        font-size: 16px;
    }
    .input-field > input {
        font-size: 14px;
    }
    .input-field > textarea {
        height: 170px;
    }
    .form > input[type="submit"] {
        margin-top: 15px;
    }
}