:root {
    --color-primary: #000a03;
    --color-secondary: #d0c5b4;
    --color-tertiary: #6a948a;
    --color-accent: #292426;
    --accent-2: #541611;
    --accent-3: #fffef6;
    --accent-main: #88c903;
    --accent-4: #17243e;
    --accent-5: #c2c9d0;
    --accent-6: #00accc;
    --text-size-body: 16px;
    --text-size-heading: 20px;
    --text-size-button: 16px;
    --text-size-sub-heading: 14px;
    --letter-spacing-body: calc(1.5*var(--text-size-body));
    --letter-spacing-heading: calc(1.3*var(--text-size-heading))
    --letter-spacing-sub-heading: calc(1.5*var(--text-size-sub-heading))
}
@font-face {
    font-family: Poppins;
    src: url(../assets/Poppins/Poppins-Regular.ttf);
}
@font-face {
    font-family: Poppins-Bold;
    src: url(../assets/Poppins/Poppins-ExtraBold.ttf);
}
@font-face {
    font-family: Poppins-Light;
    src: url(../assets/Poppins/Poppins-Light.ttf);
}
@font-face {
    font-family: Montserrat;
    src: url(../assets/Montserrat/Montserrat-VariableFont_wght.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100vh;
    background: #292426;
    display: grid;
    place-items: center;
    gap: 5em;
    letter-spacing: 1.2px;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: var(--accent-6);
    scrollbar-gutter: both-edges;
}
.portfolio {
    width: 80%;
    margin-top: 5em;
}
.projects {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--gap, 7em);
}
.project {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 4em;
    color: white;
    /* border: .5px solid #333; */
    padding: 1em;
}
.project img {
    width: 100%;
    height: 20vh;
    min-height: 250px;
    min-width: 250px;
    max-width: 600px;
    object-fit: cover;
    border-radius: 10px;
    object-position: top;
    box-shadow: -5px 10px 15px rgba(0,0,0,0.4);
}
.project-body {
    position: relative;
    height: fit-content;
}
.project-body::after {
    content: '';
    width: 30%;
    height: 2px;
    border-radius: 30px;
    left: 0;
    bottom: -1em;
    position: absolute;
    color: var(--color-tertiary);
    background: var(--color-tertiary);
}
.project-body > h2 {
    font-family: Montserrat;
    font-size: 3.6vh;
    font-weight: 600;
    color: var(--accent-6);
    margin-bottom: 1em;
    text-transform: uppercase;
    letter-spacing: normal;
    text-wrap: nowrap;
}
.project-body:nth-child(2) > h2,
.project-body:nth-child(3) > h2{
    margin-bottom: 10px;
    line-height: normal;
}
.project-body > h5 {
    font-size: 16px;
    font-weight: 600;
    font-family: Montserrat;
    color: var(--color-secondary);
    margin-bottom: 1rem;
}
.project-body > h2 i {
    font-size: 15px;
    padding: 5px;
    margin-left: 10px;
    transform: rotate(-30deg);
    border: .4px solid var(--accent-5);
    border-radius: 50%;
} 
.project-role {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap, 1em);
}
.project-role > span {
    padding: 6px 14px;
    font-family: Montserrat;
    font-weight: 560;
    font-size: 12px;
    color: var(--accent-5);
    background: #c2c9d027;
    border-radius: 30px;
}
.project-body > p {
    font-family: Poppins;
    font-size: 16px;
    margin-top: 1em;
    color: var(--color-secondary);
}
h1,h2,h3 {
    animation: texter 1s ease;
}
img, p {
    animation: texterUp 1s ease;
}
@keyframes texter {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes texterUp {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
/* Media query */
@media (min-width: 1025px) {}
@media (min-width: 769px) and (max-width: 1024px) {
    
}
@media (min-width: 600px) and (max-width: 768px)  {
    body {
        overflow-x: hidden;
        gap: 1em;
    }
    .body-overlay {
        visibility: hidden;
    }
    .portfolio {
        width: 100%;
        padding: 1em 2em;
        margin-top: 2em;
    }
    .project {
        grid-template-columns: 1fr;
        padding: 0;
        gap: 3em;
    }
    .project img {
        box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
        min-height: 250px;
    }
    .project-body > h2 {
        font-size: 1.3em;
    }
    .project-body > p {
        --max-lines: 3;
        overflow: hidden;
        -webkit-line-clamp: var(--max-lines);
        -webkit-box-orient: vertical;
        line-clamp: var(--max-lines);
        text-overflow: ellipsis;
    }
    /* footer section */
    footer {
        width: 100%;
        background: #333;
        margin-top: 5em;
    }
    .footer-container {
        width: 100%;
        padding: 5rem 2em;
        display: flex;
        flex-direction: column;
        align-items: baseline;
        justify-content: center;
        gap: var(--gap, 1em);
    }
    .footer-col {
        flex: 100%;
        width: 100%;
    }
    .copyright {
        text-align: start;
        align-self: flex-start;
    }
    .copyright > p {
        text-align: start;
    }
 
}
/* Media query */
@media (max-width: 600px) {
    body {
        overflow-x: hidden;
        gap: 1em;
    }
    .body-overlay {
        visibility: hidden;
    }
    header {
        width: 100%;
        position: relative;
        max-width: 100%;
        padding: 1em 0;
        margin-top: 10px;
        flex-direction: column;
        box-shadow: none;
        /* box-shadow: -2px 2px 6px rgba(0,0,0,0.1); */
        /* padding: 1rem 8rem; */
    }
    .logo {
        font-size: 1.4rem;
        font-weight: 780;
        align-self: flex-start;
        padding: 10px;
    }
    .navbar {
        position: fixed;
        width: 100%;
        height: 100vh;
        z-index: 99;
        background: #292426e0;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 4em;
        justify-content: center;
        left: -100%;
        opacity: 0;
        transition: all .6s ease;
    }
    .navbar > a{
        font-size: 20px;
        color: var(--color-secondary);
        text-decoration: none;
        /* margin-left: 10px; */
        padding: 10px 15px;
    }
    .navbar >#float {
        margin-left: 0;
    }
    .checkbtn {
        visibility: visible;
    }
    .portfolio {
        width: 100%;
        padding: 1em;
        margin-top: 2em;
    }
    .project {
        grid-template-columns: 1fr;
        padding: 0;
        gap: 3em;
    }
    .project img {
        box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
        min-height: 150px;
    }
    .project-body > h2 {
        font-size: 1.2em;
        text-transform: capitalize;
        text-wrap: wrap;
        line-height: 1.5;
    }
    .project-body > p {
        --max-lines: 3;
        overflow: hidden;
        -webkit-line-clamp: var(--max-lines);
        -webkit-box-orient: vertical;
        line-clamp: var(--max-lines);
        text-overflow: ellipsis;
    }
    /* footer section */
    footer {
        width: 100%;
        background: #333;
        margin-top: 5em;
    }
    .footer-container {
        width: 100%;
        padding: 5rem 1em;
        display: flex;
        flex-direction: column;
        align-items: baseline;
        justify-content: center;
        gap: var(--gap, 1em);
    }
    .footer-col {
        flex: 100%;
        width: 100%;
    }
    .copyright {
        text-align: start;
        align-self: flex-start;
    }
    .copyright > p {
        text-align: start;
    }
 
}