<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="HandheldFriendly" content="true">
    <meta name="MobileOptimized" content="320">
    <title>about me..</title>
    <link rel="stylesheet" href="../static/files/styles/about.css">
    <link rel="stylesheet" href="../static/files/assets/fontawesome-free-6.5.2-web/css/all.min.css">
    <script src="../static/files/script/script.js"></script>
</head>
<body>
    <header class="header">
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fa fa-bars"></i>
        </label>
        <div class="logo">Mary Anyango</div>
        <div class="navbar">
            <a href="../index.html">Home</a>
            <a href="./about.html">About</a>
            <a href="#">Services</a>
            <a href="./portfolio.html">Portifolio</a>
            <!-- <a href="#">Blog</a>
            <a href="#">Testimonials</a> -->
            <a href="#" id="float">Contact me!</a>
        </div>
    </header>
    <section class="about">
        <p>With over 3 years of experience in editing, writing and teaching French. I am passionate in helping others communicate effectively and learn new languages. My journey began in 2012 when i was parsuing my masters.</p>
        <p>Born on the 3rd February 2001, a graduate of Maseno university, a teacher and editor by profession.</p>
    </section>
    <section class="about-info reveal">
        <div class="info-col">
            <h2 id="biography">Biography</h2>
            <p>I am an editor, language teacher and writer based in Kenya and France. I have always been inspired by language and culture and most of my professional and personal work revolves around having to learn more and share my knowledge with others. Most of my previous projects have been based on three languages: English, French and Swahili.</p>
        </div>
        <div class="info-col">
            <h2 id="certs">Qualifications and certifications</h2>
            <p>I hold a Bachelor’s degree in Education (French, Swahili) with Information Technology from Maseno University in Kenya.</p>
            <p>I am a certified teacher with the Kenya Teachers’ Service Commission and a foreign language assistant.</p>
            <p>I hold an advanced certificate for the Diplôme d’etudes en langue Française 
            </p>
        </div>
        <div class="info-col">
            <h2 id="story">Personal story</h2>
            <p>When I was young, I was a really curious girl. I always wanted to know how the world works. I would always borrow big literature books with difficult words than my mind could fathom.I would spend countless hours stuck in stories about other places, lands I believed I could get to discover someday. I didn’t know that this was some sort of escapism back then nut it was intriguing, learning so much about the world, about different people. That was the beginning of my passion; of course I didn’t know this then. Now when I help people tell there stories through editing, when I help them towards their journey of sharing who they are and what they represent, when they feel heard, I feel complete because another person elsewhere in the world will share in that joy that comes from diversity or people relating to the stories will feel included and he world will always be a better place with good stories.</p>
        </div>
    </section>
    <section class="reveal experience">
        <h1>Experience</h1>
        <div class="container">
            <div class="exp-col">
                <div class="work">
                    <h2><strong>LP Haut forez et LT Beauregard</strong> - Language Assistant</h2>
                    <h5>October 2023 - April 2024</h5>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error debitis, minima blanditiis alias, eius, consequatur velit laboriosam incidunt architecto facilis quasi quam beatae dolor veritatis hic earum quae obcaecati. Iure.</p>
            </div>
            <div class="exp-col">
                <div class="work">
                    <h2><strong>Alliance de Francaise de Mombasa</strong> - Receptionist</h2>
                    <h5>January 2023 - August 2023</h5>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia eligendi sunt similique dicta maxime. Laborum, explicabo vitae cupiditate tenetur, enim, debitis eligendi ducimus rerum cum tempora aut commodi excepturi illum?</p>
            </div>
            <div class="exp-col">
                <div class="work">
                    <h2><strong>African Ink Publishers</strong> - Editor</h2>
                    <h5>February 2018 - Date</h5>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto similique perferendis tempore eaque! Delectus dolorum iusto dolore exercitationem quaerat natus nesciunt dolor nobis labore reprehenderit. Aspernatur corrupti omnis vitae mollitia?</p>
            </div>
            <div class="exp-col">
                <div class="work">
                    <h2><strong>United States of Africa</strong> - Volunteer show host</h2>
                    <h5>FApril 2022 - Date</h5>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti dignissimos, qui iure laudantium adipisci ipsa. Tempore ducimus quod itaque rem cupiditate quis maiores assumenda laborum. Totam labore omnis magni earum.</p>
            </div>
            <div class="exp-col">
                <div class="work">
                    <h2><strong>Eregi girls high school</strong> - Teacher of French</h2>
                    <h5>October 2022</h5>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus repellat, nihil adipisci libero saepe iusto impedit eligendi eos distinctio modi nam inventore enim eaque animi. Voluptas quo magni ex nam.</p>
            </div>
            <div class="exp-col">
                <div class="work">
                    <h2><strong>9<sup>th</sup> Africities international summit</strong> - Translator/Usher</h2>
                    <h5>FApril 2022 - Date</h5>
                </div>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut molestiae nesciunt soluta natus libero sunt vero reprehenderit rerum veritatis iste. Dolore itaque illum porro, officia et nesciunt pariatur incidunt deleniti!</p>
            </div>
            <div class="exp-col">
                <div class="work">
                    <h2><strong>Luanda Happy Day Academy</strong> - Teacher of French</h2>
                    <h5>July 2022</h5>
                </div>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci porro sunt, delectus fugiat perspiciatis sed modi eaque soluta qui veniam maxime necessitatibus iusto consectetur fuga. Doloremque, voluptatem illum. Eos, porro!</p>
            </div>
            <div class="exp-col">
                <div class="work">
                    <h2><strong>Bishop Sulumeti girls high school</strong> - Teacher of French</h2>
                    <h5>August - December 2021</h5>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus repellat, nihil adipisci libero saepe iusto impedit eligendi eos distinctio modi nam inventore enim eaque animi. Voluptas quo magni ex nam.</p>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="footer-container">
            <div class="footer-col">
                <h2>Contact information</h2>
                <p><strong>Email:</strong> anyangoblack@gmail.com</p>
                <p><strong>Phone:</strong> +254 700 289 489</p>
                <h3>Connect with me</h3>
                <div class="media">
                    <a href="#" class="fa-brands fa-linkedin"></a>
                    <a href="#" class="fa-brands fa-twitter"></a>
                    <a href="#" class="fa-brands fa-upwork"></a>
                    <a href="#" class="fa-brands fa-facebook"></a>
                    <a href="#" class="fa-brands fa-instagram"></a>
                </div>
            </div>
            <div class="footer-col">
                <h2>Quick Links</h2>
                <a href="#"><i class="fa fa-angle-right"></i> Home</a>
                <a href="#"><i class="fa fa-angle-right"></i> Services</a>
                <a href="#"><i class="fa fa-angle-right"></i> About</a>
                <a href="#"><i class="fa fa-angle-right"></i> Portfolio</a>
                <a href="#"><i class="fa fa-angle-right"></i> Blog</a>
            </div>
            <div class="footer-col">
                <h2>Services</h2>
                <a href="#"><i class="fa fa-angle-right"></i> Editing</a>
                <a href="#"><i class="fa fa-angle-right"></i> Writing</a>
                <a href="#"><i class="fa fa-angle-right"></i> French tutoring</a>
            </div>
            <div class="footer-col">
            </div>
        </div>
        <div class="copyright">
            <p>&copy; 2024 Mary Anyango Otieno. All rights reserved</p>
            <p><strong>Designed By:</strong>  Glocode developers</p>
        </div>
    </footer>
</body>
</html>