<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="HandheldFriendly" content="true">
    <meta name="MobileOptimized" content="320">
    <title>Projects..</title>
    <link rel="stylesheet" href="../static/files/styles/portfolio.css">
    <link rel="stylesheet" href="../static/files/assets/fontawesome-free-6.5.2-web/css/all.min.css">
    <link rel="stylesheet" href="../static/files/styles/assets.css">
    <script src="../static/files/script/script.js"></script>
</head>
<body>
    <header class="header">
        <div class="logo">Mary Anyango</div>
        <div class="navigation" id="sideNav">
            <a href="/index.html">Home</a>
            <a href="./about.html">About</a>
            <a href="./services.html">Services</a>
            <a href="./portfolio.html">Portfolio</a>
            <a href="#" class="left">Contact me!</a>
            <span class="navClose" onclick="closeNav()">&times</span>
        </div>
        <span class="openNav" onclick="openNav()">&#9776</span>
    </header>
    <!-- <header class="header">
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fa fa-bars"></i>
        </label>
        <div class="logo">Mary Anyango</div>
        <div class="navbar">
            <a href="#">Home</a>
            <a href="#">About</a>
            <a href="#">Services</a>
            <a href="#">Portifolio</a>
            <a href="#" id="float">Contact me!</a>
        </div>
    </header> -->
    <section class="portfolio">
        <div class="projects">
            <div class="project">
                <div class="project-image"><img src="../static/files/assets/books-2596809_1280.jpg" alt=""></div>
                <div class="project-body">
                    <h2>You better be strong.<i class="fa fa-arrow-right"></i></h2>
                    <div class="project-role">
                        <span>Editor</span>
                        <span>Author</span>
                        <span>Publisher</span>
                    </div>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis tempora nihil voluptate pariatur labore totam! Corporis unde ipsa repellendus provident veniam quod asperiores, hic expedita nostrum culpa autem esse dolore.</p>
                </div>
            </div>
            <div class="project">
                <div class="project-image"><img src="../static/files/assets/woman-6784555_1280.jpg" alt=""></div>
                <div class="project-body">
                    <h2>A Call to cool the heat.<i class="fa fa-arrow-right"></i></h2>
                    <div class="project-role">
                        <span>Editor</span>
                    </div>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium, eaque? Iure neque eum sed tenetur odio ratione velit accusamus quas iste cum, impedit, sunt itaque deserunt vel eaque. A, perferendis?</p>
                </div>
            </div>
            <div class="project">
                <div class="project-image"><img src="../static/files/assets/others/pexels-pixabay-459203.jpg" alt=""></div>
                <div class="project-body">
                    <h2>Project title goes here.<i class="fa fa-arrow-right"></i></h2>
                    <div class="project-role">
                        <span>Author</span>
                        <span>Editor</span>
                    </div>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque, error quia molestiae repudiandae sunt natus tempore soluta impedit voluptatem velit, fugit expedita quo numquam corrupti voluptate consequuntur ab quam at.</p>
                </div>
            </div>
            <div class="project">
                <div class="project-image"><img src="../static/files/assets/IMG-20240811-WA0073.jpg" alt=""></div>
                <div class="project-body">
                    <h2>A Black woman's freedom<i class="fa fa-arrow-right"></i></h2>
                    <div class="project-role">
                        <span>Editor</span>
                        <span>Author</span>
                        <span>Publisher</span>
                    </div>
                    <p>When I decided to write this book, it's because I was confused about everything in life and I was so forgetful at work place and whenever I could continue with my life, something was missing and it's love. My girlfriend was the cause of all this and..</p>
                </div>
            </div>
            <div class="project">
                <div class="project-image"><img src="../static/files/assets/interior-4400306_1280.jpg" alt=""></div>
                <div class="project-body">
                    <h2>A Call to cool the heat.<i class="fa fa-arrow-right"></i></h2>
                    <div class="project-role">
                        <span>Editor</span>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed explicabo veritatis ipsa commodi laboriosam dicta blanditiis eligendi ad rerum optio dolores consequatur totam voluptatum, autem molestias facilis culpa incidunt soluta?</p>
                </div>
            </div>
            <div class="project">
                <div class="project-image"><img src="../static/files/assets/others/pexels-ian-turnell-709552.jpg" alt=""></div>
                <div class="project-body">
                    <h2>Tears of the black heart.<i class="fa fa-arrow-right"></i></h2>
                    <div class="project-role">
                        <span>Editor</span>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores praesentium accusantium adipisci velit a culpa nesciunt ipsa perferendis qui et! Quos nostrum repellat dolore modi pariatur deserunt deleniti, rem a.</p>
                </div>
            </div>
            <div class="project">
                <div class="project-image"><img src="../static/files/assets/smiley-1738773_1280.jpg" alt=""></div>
                <div class="project-body">
                    <h2>You better be strong.<i class="fa fa-arrow-right"></i></h2>
                    <div class="project-role">
                        <span>Editor</span>
                        <span>Author</span>
                        <span>Publisher</span>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam omnis nemo soluta nam, accusantium minima debitis laborum itaque, enim autem iste ipsum? Quas culpa corporis omnis? Mollitia odio veniam ducimus.</p>
                </div>
            </div>
            <div class="project">
                <div class="project-image"><img src="../static/files/assets/woman-6784555_1280.jpg" alt=""></div>
                <div class="project-body">
                    <h2>A Call to cool the heat.<i class="fa fa-arrow-right"></i></h2>
                    <div class="project-role">
                        <span>Editor</span>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus iusto officia quae voluptatum odit, doloremque libero consectetur! A pariatur neque officia doloremque rem nostrum, saepe optio magnam..</p>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="footer-container">
            <div class="footer-col">
                <h2>Contact information</h2>
                <p><strong>Email:</strong> anyangoblack@gmail.com</p>
                <p><strong>Phone:</strong> +254 700 289 489</p>
            </div>
            <div class="footer-col">
                <h2>Quick Links</h2>
                <a href="#"><i class="fa fa-angle-right"></i> Home</a>
                <a href="#"><i class="fa fa-angle-right"></i> Services</a>
                <a href="#"><i class="fa fa-angle-right"></i> About</a>
                <a href="#"><i class="fa fa-angle-right"></i> Portfolio</a>
            </div>
            <div class="footer-col">
                <h2>Services</h2>
                <a href="#"><i class="fa fa-angle-right"></i> Editing</a>
                <a href="#"><i class="fa fa-angle-right"></i> Writing</a>
                <a href="#"><i class="fa fa-angle-right"></i> French tutoring</a>
            </div>
            <div class="footer-col">
                <h2>Connect with me</h2>
                <div class="media">
                    <a href="#" class="fa-brands fa-linkedin"></a>
                    <a href="#" class="fa-brands fa-twitter"></a>
                    <a href="#" class="fa-brands fa-upwork"></a>
                    <a href="#" class="fa-brands fa-facebook"></a>
                    <a href="#" class="fa-brands fa-instagram"></a>
                </div>
            </div>
        </div>
        <div class="copyright">
            <p>&copy; 2024 Mary Anyango Otieno. All rights reserved</p>
            <p><strong>Designed By:</strong>  Glocode developers</p>
        </div>
    </footer>
</body>
</html>