<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
    <link rel="stylesheet" href="../static/files/styles/service.css">
    <link rel="stylesheet" href="../static/files/styles/assets.css">
    <link rel="stylesheet" href="../static/files/assets/fontawesome-free-6.5.2-web/css/all.css">
    <script src="../static/files/script/script.js"></script>
</head>
<body>
    <header class="header">
        <div class="logo">Mary Anyango</div>
        <div class="navigation" id="sideNav">
            <a href="/index.html">Home</a>
            <a href="./about.html">About</a>
            <a href="./services.html">Services</a>
            <a href="./portfolio.html">Portfolio</a>
            <a href="#" class="left">Contact me!</a>
            <span class="navClose" onclick="closeNav()">&times</span>
        </div>
        <span class="openNav" onclick="openNav()">&#9776</span>
    </header>
    <section class="container-fluid reveal">
        <h1>Services</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <div class="container">
            <div class="box" id="editing">
                <span class="fa fa-box"></span>
                <div class="box-title">
                    <h2>Editing and proofreading</h2>
                    <h5>(Prices vary depending on the number of words)</h5>
                </div>
                <div class="box-body">
                    <ul>
                        <li><p>upto 10k words = $100</p></li>
                        <li><p>10001 to 20k words = $100</p></li>
                        <li><p>20,001 to 30k words = $130</p></li>
                        <li><p>30,001 to 60k words = $160</p></li>
                        <li> <p>60k+ words = $250</p></li>
                        <li><p>10001 to 20k words = $100</p></li>
                    </ul>
                </div>
                <button class="service">Get</button>
            </div>
            <div class="container-col">
                <div class="box" id="writing">
                    <span class="fa fa-box"></span>
                    <div class="box-title">
                        <h2>Editorial Lessons</h2>
                    </div>
                    <div class="box-body">
                        <p>Upto 10k words = 50</p>
                        <p>Upto 10k words = 50</p>
                    </div>
                    <button class="service">Book a slot</button>
                </div>
                <div class="box" id="tutoring">
                    <span class="fa fa-box"></span>
                    <div class="box-title">
                        <h2>Tutoring</h2>
                    </div>
                    <div class="box-body">
                        <p>English Language tutoring @ $15 per hour</p>
                        <p>French Language tutoring @ $15 per hour</p>
                    </div>
                    <button class="service">Book class</button>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="footer-container">
            <div class="footer-col">
                <h2>Contact information</h2>
                <p><strong>Email:</strong> anyangoblack@gmail.com</p>
                <p><strong>Phone:</strong> +254 700 289 489</p>
            </div>
            <div class="footer-col">
                <h2>Quick Links</h2>
                <a href="../index.html"><i class="fa fa-angle-right"></i> Home</a>
                <a href="./services.html"><i class="fa fa-angle-right"></i> Services</a>
                <a href="./about.html"><i class="fa fa-angle-right"></i> About</a>
                <a href="./portfolio.html"><i class="fa fa-angle-right"></i> Portfolio</a>
            </div>
            <div class="footer-col">
                <h2>Services</h2>
                <a href="#"><i class="fa fa-angle-right"></i> Editing</a>
                <a href="#"><i class="fa fa-angle-right"></i> Writing</a>
                <a href="#"><i class="fa fa-angle-right"></i> French tutoring</a>
            </div>
            <div class="footer-col">
                <h2>Connect with me</h2>
                <div class="media">
                    <a href="#" class="fa-brands fa-linkedin"></a>
                    <a href="#" class="fa-brands fa-twitter"></a>
                    <a href="#" class="fa-brands fa-upwork"></a>
                    <a href="#" class="fa-brands fa-facebook"></a>
                    <a href="#" class="fa-brands fa-instagram"></a>
                </div>
            </div>
        </div>
        <div class="copyright">
            <p>&copy; 2024 Mary Anyango Otieno. All rights reserved</p>
            <p><strong>Designed By:</strong>  Glocode developers</p>
        </div>
    </footer>
</body>
</html>