<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
    <link rel="stylesheet" href="../static/files/styles/assets.css">
    <script src="../static/files/script/script.js"></script>
</head>
<body>
    <header class="header">
        <div class="logo">Mary Anyango</div>
        <div class="navigation" id="sideNav">
            <a href="/index.html">Home</a>
            <a href="./about.html">About</a>
            <a href="./services.html">Services</a>
            <a href="./portfolio.html">Portfolio</a>
            <a href="#" class="left">Contact me!</a>
            <span class="navClose" onclick="closeNav()">&times</span>
        </div>
        <span class="openNav" onclick="openNav()">&#9776</span>
    </header>
</body>
</html>